<nav class="navbar navbar-expand-lg navbar-light bg-light" ngbNav [activeId]="1">
  <a class="navbar-brand" [ngbNavItem]="1">MyLoverWebsite</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item" [ngbNavItem]="2">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item" [ngbNavItem]="3">
        <a class="nav-link" (click)="login()">Login</a>
      </li>
      <li class="nav-item" [ngbNavItem]="4" ngbDropdown>
        <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle> 
          To Do
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/todo" ngbDropdownItem>Show list To Do</a></li>
          <li><a class="dropdown-item" routerLink="/addToDo" ngbDropdownItem>Add new To Do</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#"ngbDropdownItem>Something else here</a></li>
        </ul>
      </li>
    </ul>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<section class="wow slideInLeft" data-wow-duration="2s" data-wow-delay="5s"></section>
<section class="wow slideInRight" data-wow-offset="10"  data-wow-iteration="10"></section>

<h1>Hello</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, ipsam neque dolore autem laudantium perspiciatis consequuntur quis adipisci ad voluptas dolores aliquam doloribus voluptatibus et odio! Repellendus pariatur consectetur iste.</p>
<router-outlet></router-outlet>
